<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Torrent Testing</title>
  </head>
  <body>
    <video id="video" controls width="300" height="200"></video>
  </body>

  <script src="jquery.min.js"></script>
  <script src="socket.io.js"></script>
  <script type="text/javascript">

  window.URL = window.URL || window.webkitURL;
window.MediaSource = window.MediaSource || window.WebKitMediaSource;

if(!!! window.MediaSource)
{
  alert('MediaSource API is not available!');
}

var mediaSource = new MediaSource();
var video = document.getElementById('video');

video.src = window.URL.createObjectURL(mediaSource);

var sourceBuffer = mediaSource.addSourceBuffer('video/webm; codecs="vorbis,vp8"');
var socket = io.connect();

if(socket)
    console.log('Library retrieved!');


socket.on('blobs', function (data)
{
    console.log(data);
    sourceBuffer.append(new Uint8Array(data));
});

  </script>

</html>
