<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Torrent Testing</title>
  </head>
  <body>
    <video id="videoPlayer" controls>
      <source src="http://127.0.0.1:3030/video" type="video/mp4">
    </video>
  </body>
</html>
