<% include ./assets/header.ejs %>

	<% if (error ) { %>
		<%= error %>
	<% } %>

	<form action="/connexion" method="post" accept-charset="utf-8">
		<input type="text" name="login" placeholder="Votre login">
		<input type="password" name="passwd" placeholder="Votre mot de passe">
		<input type="submit" name="send" value="Se connecter">
	</form>
	<a href="/inscription" title="S'inscrire">Pas encore de compte ?</a>


<% include ./assets/footer.ejs %>
