<% include ./assets/header.ejs %>

	<form action="/connexion" method="post" accept-charset="utf-8">
		<input type="text" name="login" placeholder="Votre login">
		<input type="password" name="psswd" placeholder="Votre mot de passe">
		<input type="submit" name="send" value="Se connecter">
	</form>

<% include ./assets/footer.ejs %>