<% include ./assets/header.ejs %>

	<% if (error ) { %>
		<%= error %>
	<% } %>
	<div class="container">
		<form action="/inscription" method="post" accept-charset="utf-8">
			<div class="row">
				<label><input type="text" name="login" placeholder="Votre login"></label>
			</div>
			<div class="row">
				<label><input type="password" name="passwd" placeholder="Votre mot de passe"></label>
			</div>
			<div class="row">
				<label><input type="password" name="passwd_confirm" placeholder="Confirmer"></label>
			</div>
			<div class="row">
				<label><input type="text" name="email" placeholder="Votre email"></label>
			</div>
			<div class="row">
				<label><input type="text" name="first_name" placeholder="Votre prenom"></label>
			</div>
			<div class="row">
				<label><input type="text" name="last_name" placeholder="Votre nom de famille"></label>
			<div class="row">
			</div>
			<input type="submit" name="send" value="register">
			</div>
		</form>
	</div>

<% include ./assets/footer.ejs %>
