<% include ./assets/header.ejs %>

	<% if (error ) { %>
		<%= error %>
	<% } %>

	<form action="/inscription" method="post" accept-charset="utf-8">
		<label>
			<input type="text" name="login" placeholder="Votre login">
		</label>
		<label>
			<input type="password" name="psswd" placeholder="Votre mot de passe">
		</label>
		<label>
			<input type="password" name="psswd_confirm" placeholder="Confirmer">
		</label>
		<label>
			<input type="mail" name="email" placeholder="Votre email">
		</label>
		<input type="submit" name="send" value="S'enregistrer">
	</form>

<% include ./assets/footer.ejs %>