<div class="comment">
    <a class="avatar">
        <img src="<%= com.photo %>">
    </a>
    <div class="content">
        <a class="author">
            <%= com.first_name %>
        </a>
        <div class="metadata">
            <span class="date">
                <%= com.creation %>
            </span>
        </div>
        <div class="text">
            <%= com.com %>
        </div>
    </div>
</div>