<% include ./assets/header.ejs %>

<div class="ui two column middle aligned very relaxed stackable grid">
    <div class="column"><div class="ui raised segment"><% include signin %></div></div>
    <div class="column"><div class="ui raised segment"><% include signup %></div></div>
</div>

<% include ./assets/footer.ejs %>