.main.container{
  margin-top: 7em;
}

#wrap {
  min-height: 100%;
}

#main {
  /* overflow: auto; */
  padding-bottom: 20px;
}

footer {
  position: relative;
  margin-top: -20px;
  /* negative value of footer height */
  height: 20px;
  clear: both;
  text-align: center;
  color: black;
  opacity: 0.7;
  font-size: 13px;
}

#negativeMsg {
  margin-bottom: 20px;
  text-align:center;
  display:none;
}

#padBot {
  padding-bottom: 8px;
}

#cardMargin {
  margin-right: 10px;
  margin-left: 10px;
}

.pointer {
  cursor:pointer;
}

#backimg {
  position: relative;
  top: 0;
  left: 0;
}

#overimg {
  position: absolute;
  opacity: 0.5;
  top: 0px;
  left: 0px;
}

.vid_infos {
  font-size: 14px;
  font-weight: 700;
}

.fixavatar {
  width: 48px !important;
  height: 48px !important;
  margin-right: 4px;
}

div#dark_light {
  float: right;
  cursor: pointer;
}

.hide-scrollbar ::-webkit-scrollbar{
  visibility : hidden;
}

.nice_borders, input.prompt.nice_borders {
  border-radius: 500rem !important;
}

#search {
  margin-bottom: 1.5em;
  margin-right: 15%;
  margin-left: 15%;
}