<form onkeypress="return event.keyCode != 13;" action="/modify_profile" method="post" enctype="multipart/form-data" class="ui equal width form">
    <div class="field">
        <label for="photo" class="ui icon button">
            <p><i class="cloud icon"></i> Photo de profil</p>
        </label>
        <input type="file" id="photo" name="photo" hidden>
    </div>
    
    <div class="fields">
        <div class="field">
            <label>Pseudo</label>
            <input type="text" placeholder="<%= user.login %>" name="login">
        </div>
        <div class="field">
            <label>Prenom</label>
            <input type="text" placeholder="<%= user.first_name %>" name="first_name">
        </div>
        <div class="field">
            <label>Nom</label>
            <input type="text" placeholder="<%= user.last_name %>" name="last_name">
        </div>
    </div>

    <div class="field">
        <label>E-mail</label>
        <input type="email" placeholder="<%= user.email %>" name="email">
    </div>

    <div class="fields">
        <div class="field">
            <label>Nouveau mot de passe</label>
            <input type="password" placeholder="Mot de passe" name="psswd">
        </div>
        <div class="field">
            <label>Confirmation</label>
            <input type="password" placeholder="Mot de passe" name="psswd_confirm">
        </div>
    </div>
    
    <button type="submit" class="fluid ui black submit button">
        Modifier
    </button>
</form>