<div class="ui black centered card" style="margin-top:30px;">
    <div class="ui image">
        <img src="/pics/default.jpg">
    </div>
    <div class="content">
        <div class="header">Prenom Nom</div>
        <div class="meta">
            <span class="date">
                Login
            </span>
        </div>
        <div class="description">
            Bio
        </div>
    </div>
</div>
